.pet-image {
    max-width: 200px;
    max-height: 200px;
}

.pet-image2 {
    max-width: 500px;
    max-height: 500px;
}

.pet-container {
    display: inline-block;
    max-width: 250px;
    max-height: 250px;
    margin-left: 10px;
    margin-right: 10px;

}